mixin tourItem 
  .tour-item
    .tour-top
      img.tour-image(src="https://images.unsplash.com/photo-1682687220208-22d7a2543e88?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1075&q=80", alt="bali")
      span.tour-price From $40
    .tour-content
      h3.tour-title Thailands Ayutthaya Temples Cruise from Bangkok
      .tour-ratting 
        .tour-review 
          img.tour-star(src="./images/star.png", alt="star")
          span.tour-review-count 4.8 (12 reviews)
        span.tour-duration Duration: 9 hours
      a.tour-button(href="#" target ="_blank" rel="noopener noreferrer") Tours Price $61

mixin popuplarItem 
  .popuplar-item 
    .popuplar-image
      .popuplar-overplay
      img.popuplar-img(src="https://source.unsplash.com/random", alt="popuplar")
      span.popuplar-label Must See
    .popuplar-content
      span.popuplar-time Sep 28 10:00 AM - 1:00 PM
      h3.popuplar-title The Grand Palace
      .popuplar-review 
        img.popuplar-star(src="./images/star.png", alt="")
        sapn.popuplar-review-count 4.8 (12 reviews)

//- mixin gemItem(image)
//-   .gem-item
//-     .gem-image 
//-       img(src= image, alt="gem")
//-     .gem-content 
//-       h2.gem-title Bangkok Trip
//-       span.gem-time 27 Sep, 2020