section.diamond
  .container 
    h2.heading Hidden Diamond in Bangkok
    .diamond-list
      each val in [1,2,3,4]
        .diamond-item
          .diamond-image
            img(src="https://images.unsplash.com/photo-1682695797221-8164ff1fafc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80", alt="")
            .diamond-overplay
              h3.diamond-title Bangkok Trip
    a.button.diamond-all(href="#" target="_blank" rel ="noopener noreferrer") Explore All